{% extends "base.html" %}

{% block head %}
<style>
#canvas {
    position:relative;
{% if not edit %}
    display: none;
{% endif %}
}
</style>
<script type="text/javascript" src="{{STATIC_URL}}main.js"></script>
{% if edit %}
<script type="text/javascript" src="{{STATIC_URL}}edit.js"></script>
{% endif %}
{% endblock %}

{% block content %}

{% if edit %}
<div style="float:left">
<ul id="sslist">
</ul>
</div>
{% endif %}

{% if edit %}
<canvas width="672" height="480" id="canvas">
{% else %}
<canvas width="640" height="480" id="canvas">
{% endif %}
You don't have canvas support.
</canvas>
{% if not edit %}
<form id="start" onsubmit="begin(); return false">
    <input type="text" id="name" />
    <input type="submit" value="Start" />
</form>
{% endif %}
{% endblock %}
